html {
    font-size: calc(1em + 1vw);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: sans-serif;
    background-color: #fff;
}


header {
    background-color: #fff;
}


.search {
    display: flex;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    color: black;
    cursor: text;
    margin-left: 10px;
}

.search input {
    margin-left: 3px;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 5px 0 0 5px;
    cursor: text;
}

.search button {
    padding: 8px;
    border: 1px solid #000000;
    background-color: #e6e6e6;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}



header nav ul a {
    text-decoration: none;
    color: black;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-liste ul li {
    font-size: 0.8rem;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
    list-style: none;
    margin: 5px;
    padding-left: 10px;
}

.banner {
    background-color: #e0e0e0;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    padding: 3rem 2rem 2rem;
    margin: 10px;
}

.banner button {
    background-color: #fff;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    padding: 20px;
    cursor: pointer;
}

.banner button a {
    text-decoration: none;
    color: black;
    padding: 20px;
}

.banner h1 {
    padding-bottom: 10px;
}

.banner p {
    padding-bottom: 20px;
}

button:hover {
    background-color: #f0f0f0;
}

a:hover {
    color: #f0f0f0;
}

.hidden {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

/*index.html*/

#popprodukter {
    display: flex;
    flex-direction: column;
    margin: 40px 10px;
}

#popprodukter h2 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1rem;
}

#popprodukter p {
    font-size: 0.7rem;
}

.knapp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-left: 10px;
}

.knapp button {
    background-color: #fff;
    color: black;
    border: 1px solid #d3c6c6;
    cursor: pointer;
    border-radius: 40px;
    padding: 0.4rem 0.9rem;
    font-size: 0.7rem;
    text-align: center;
}

.knapp button:hover {
    background-color: #f0f0f0;
}



.produkter article img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.produkter {
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 20px;
    border: none;
    padding: 20px 10px;
}

.produkter article a {
    text-decoration: none;
    color: black;
}

.produkter img:hover {
    transform: scale(1.02);
}

.particle img:hover {
    transform: scale(1.02);
}

.produkter h3 {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.produkter p {
    font-size: 0.8rem;
    margin-bottom: 10px;
}


#kategorier {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
}

#kategorier h2, #kategorier p {
    text-align: left;
    margin-left: 10px;
}

#kategorier h2 {
    font-weight: bold;
    font-size: 1rem;
}

#kategorier p {
    font-size: 0.7rem;
    margin-bottom: 20px;
}

#kategorier h3 {
    text-align: center;
    padding: 10px;
}

.k-kort1, .k-kort2, .k-kort3, .k-kort4, .k-kort5 {
    border: 0.5px solid #000000;
    font-weight: bold;
    font-size: 0.7rem;
    padding: 120px 10px;
    margin-left: 10px;
    margin-right: 10px;
}



.anmeldelser {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.anmeldelser h2 {
    margin-bottom: 10px;
    margin-top: 60px;
    font-weight: bold;
    text-align: left;
    font-size: 1.2rem;
    margin-left: 10px;
}

.anmeldelser h3 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1rem;
    text-align: left;
}

.anmeldelser p {
    margin-bottom: 10px;
    text-align: left;
    font-size: 0.7rem;
}

.anmeldelser img {
    max-width: 150px;
    max-height: 150px;
    align-items: left;
}

.anmeldelser article {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
}



footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-top: 1px solid #ccc;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;
}

.footerlogo {
    margin-top: 30px;
    font-weight: bold;
    font-size: 1.5rem;
}

footer section {
    margin-bottom: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer h3 {
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
}

footer p {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 0.5rem;
    font-weight: normal;
}

footer a {
    text-decoration: none;
    color: black;
}

footer ul li {
    margin-bottom: 10px;
    font-size: 0.7rem;
}

/*produkt.html*/

.brodsmule {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    list-style: none;
    font-size: 0.9rem;
}

.brodsmule li {
    color: #333;
}

.brodsmule a {
    text-decoration: none;
    color: #333;
}

.brodsmule a:hover {
    text-decoration: underline;
}

.brodsmule li + li::before {
    content: ">";
    color: #343434;
    margin: 0 0.5em;
}

.nav-product, ol {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.7rem; 
    list-style: none;
    margin: 5px;
}



.pnavn {
    font-weight: bold;
}

.pa {
    text-transform: uppercase;
}

.psection {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 10px;
}

.psection img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.psection h1 {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 15px;
    margin-top: 30px;
}

.psection a {
    text-decoration: line-break;
    color: #000;
    font-weight: lighter;
    margin-bottom: 10px;
}

.psection p {
    margin-bottom: 10px;
    font-size: 0.7rem;
}

.paside {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.particle {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px;
    margin: 20px;
    margin-left: 3px;
    width: 100%;
}

.particle img {
    width: 100%;
    height: auto;
}

article a{
    text-decoration: none;
    color: #000;
}

.paside h2 {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-top: 30px;
}

.paside article img {
    width: 100%;
    height: auto;
}

.paside article h3 {
    font-size: bold;
    font-size: 1rem;

}

.paside article p {
    color: #000000;
    font-size: 0.7rem;
}

.productmain {
    margin-bottom: 30px;
}

/*checkout.html*/

.checkoutmain {
    display: flex;
    flex-direction: column;
    border: none;
    text-align: left;
    margin: 20px;
    align-items: left;
    align-content: left;
}

.checkoutmain h1 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.shoppingbag h2 {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 15px;
    margin-top: 30px;
    text-transform: uppercase;
}

.product-card {
    width: 100%;
    display: flex;
    flex-direction: column;
}
 
.product-card img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.product-card h3 {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}

.product-card p {
    font-size: 0.7rem;
    margin-bottom: 5px;
}

.personopplysninger h2 {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-top: 30px;
    text-transform: uppercase;
}

.personopplysninger p {
    font-size: 0.7rem;
    margin-bottom: 3px;
}

.personopplysninger form input {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.personopplysninger form button {
    margin-right: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.personopplysninger form button[type="reset"] {
    background-color: #f0f0f0;
    color: #000;
}

.personopplysninger form button:hover {
    background-color: #f0f0f0;
}

.personopplysninger{
    background-color: #fff;
}

.levering h2 {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-top: 30px;
    text-transform: uppercase;
}

.levering p {
    font-size: 0.8rem;
    margin-bottom: 3px;
    text-transform: uppercase;
    font-weight: bold;
}

.levering form label {
    display: block;
    margin-bottom: 10px;
}

.levering input[type="radio"] {
    margin-right: 10px;
}

.levering form label {
    font-size: 0.7rem;
    font-weight: bold;
    padding: 10px;
}

.levering {
    background-color: #fff;
}

.betaling h2 {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-top: 30px;
    text-transform: uppercase;
}

.betaling p {
    font-size: 0.8rem;
    margin-bottom: 3px;
    text-transform: uppercase;
    font-weight: bold;
}

.betaling label {
    font-size: 0.7rem;
}

.betaling form input {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.betaling form button {
    margin-right: 20px;
    margin-bottom: 15px;
    padding: 10px 20px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    margin-top: 5px;
}

.betaling form button:hover {
    background-color: #f0f0f0;
}

.betaling form p {
    font-size: 0.8rem;
    margin-top: 10px;
    text-transform: none;
    font-weight: normal;
    margin-bottom: 15px;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox input[type="checkbox"] {
    margin-right: 10px;
    width: 16px;
    height: 16px;
    margin-top: 16px;
}

.checkbox label {
    font-size: 0.7rem;
    cursor: pointer;
}

/*DESKTOP*/

@media (min-width: 920px) {

    #grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 20px;
        width: 100%;
        margin: 0 auto;
        max-width: 1200px;
        justify-content: center;
    }

    header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column: 1 / -1;
        align-items: baseline;
        padding: 10px 20px;
    }

    #grid-container main {
        grid-column: 1 / -1;
    }


    .search {
        justify-self: start;
        margin-right: 60px;
    }

   

    .nav-liste ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .logo {
        text-align: center;
        grid-column: 2;
    }



   
/*ER HER*/
    

    .banner {
        grid-column: 1 / -1;
    }

    #popprodukter {
        grid-column: 1 / -1;
    }

    .knapp {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .produkter {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        grid-column: 1 / -1;
    }

    #kategorier {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto auto auto;
    }

    .over {
        grid-column: 1/2;
        grid-row: 1;
    }

    .under {
        grid-column: 1/2;
        grid-row: 2;
    }
   

    .k-kort1 {
        grid-column: 1/2;
        grid-row: 3;
    }

    .k-kort2 {
        grid-column: 2/3;
        grid-row: 3;
    }

    .k-kort3 {
        grid-column: 3/4;
        grid-row: 3;
    }

    .k-kort4 {
        grid-column: 1/3;
        grid-row: 4;
    }

    .k-kort5 {
        grid-column: 3/4;
        grid-row: 4;
    }


    .anmeldelser h2 {
        grid-column: 1 / -1;
    }

    .anmeldelser {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .footerlogo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column: 1;
        grid-row: 1;
    }

    #kontakt-info {
        grid-column: 1/2;
        grid-row: 3;
    }

    .snarveier {
        grid-column: 2/3;
        grid-row: 3;
    }

    .some {
        grid-column: 3/4;
        grid-row: 3;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto auto;
        grid-column: 1 / -1;
    }

}



/*Landskap mobil*/
@media only screen and (orientation: landscape) {
    body {
        
    }
}