/*GJELDER ALLE SIDER*/
html {
    font-size: calc(1em + 1vw);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: sans-serif;
    background-color: #fff;
}


header {
    background-color: #fff;
}

header, .nav-liste, .nav-ikoner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.search {
    display: flex;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    color: black;
    cursor: text;
    margin-left: 10px;
}

.search input {
    margin-left: 3px;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 5px 0 0 5px;
    cursor: text;
}

.search button {
    padding: 8px;
    border: 1px solid #000000;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-ikoner {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.nav-ikoner a{
    text-decoration: none;
    color: black;
}


.nav-liste ul li {
    font-size: 0.8rem;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
    list-style: none;
    margin: 5px;
    padding-left: 10px;
}


header nav ul a {
    text-decoration: none;
    color: black;
}

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-top: 1px solid #ccc;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;
}

footer section {
    margin-bottom: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer h3 {
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
}

footer p {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 0.7rem;
    font-weight: normal;
}

footer a {
    text-decoration: none;
    color: black;
}

footer ul li {
    margin-bottom: 10px;
    font-size: 0.7rem;
}

.footerlogo {
    margin-top: 30px;
    font-weight: bold;
    font-size: 1.5rem;
}

article a{
    text-decoration: none;
    color: #000;
}

ul li {
    list-style: none;
}

/*INDEX.HTML*/

.banner {
    background-color: #e0e0e0;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    padding: 3rem 2rem 2rem;
    margin: 10px;
    margin-top: 20px;
    border-radius: 30px;
}

.banner button {
    background-color: #fff;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    padding: 20px;
    cursor: pointer;
    border-radius: 30px;
}

.banner button a {
    text-decoration: none;
    color: black;
    padding: 20px;
}

.banner h1 {
    padding-bottom: 10px;
}

.banner p {
    padding-bottom: 20px;
}


#popprodukter {
    display: flex;
    flex-direction: column;
    margin: 40px 10px;
}

#popprodukter h2 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1rem;
}

#popprodukter p {
    font-size: 0.7rem;
}

.knapp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-left: 10px;
}

.knapp .firstknapp {
    background-color: #343434;
    color: white;
}

.knapp button {
    background-color: #fff;
    color: black;
    border: 1px solid #d3c6c6;
    cursor: pointer;
    border-radius: 40px;
    padding: 0.4rem 0.9rem;
    font-size: 0.7rem;
    text-align: center;
}



.produkter article img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 20px;
}

.produkter {
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 20px;
    border: none;
    padding: 20px 10px;
}

.produkter article a {
    text-decoration: none;
    color: black;
}

.produkter h3 {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.produkter p {
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.stjerner {
    display: flex;
    flex-direction: row;
    font-size: 0.6rem;
}

.stjernetekst {
    font-size: 0.4rem;
    color: rgb(94, 94, 94);

}

#kategorier {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

#kategorier h2, #kategorier p {
    text-align: left;
    margin-left: 10px;
}

#kategorier h2 {
    font-weight: bold;
    font-size: 1rem;
}

#kategorier p {
    font-size: 0.7rem;
    margin-bottom: 20px;
}

#kategorier h3 {
    text-align: center;
    padding: 10px;
}

.k-kort1, .k-kort2, .k-kort3, .k-kort4, .k-kort5 {
    font-weight: bold;
    font-size: 0.7rem;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.k-kort1 img, .k-kort2 img, .k-kort3 img, .k-kort4 img, .k-kort5 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.k-kort1 h3, .k-kort2 h3, .k-kort3 h3, .k-kort4 h3, .k-kort5 h3 {
    position: absolute;
    color: white;
    text-transform: uppercase;
}

.scroll{
    display: flex;
    overflow-x: auto; 
    scroll-snap-type: x mandatory; /*AI generert ferdig vscode*/
}

.anmeldelser h2 {
    margin-bottom: 10px;
    margin-top: 60px;
    font-weight: bold;
    text-align: left;
    font-size: 1.2rem;
    margin-left: 10px;
}

.anmeldelser h3 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1rem;
    text-align: left;
}

.anmeldelser p {
    margin-bottom: 10px;
    text-align: left;
    font-size: 0.7rem;
}

.anmeldelser img {
    border-radius: 40px;
    max-width: 150px;
    max-height: 150px;
    align-items: left;
}

.anmeldelser article {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
}



/*PRODUCT.HTML*/
.brodsmule {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    list-style: none;
    font-size: 0.9rem;
    margin-top: 20px;
}

.brodsmule li {
    color: #333;
}

.brodsmule a {
    text-decoration: none;
    color: #333;
}

.brodsmule li + li::before { /*AI*/
    content: ">";
    color: #343434;
    margin: 0 0.5em;
}

.nav-product, ol {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.7rem; 
    list-style: none;
    margin: 5px;
}

.pnavn {
    font-weight: bold;
}

.pa {
    text-transform: uppercase; 
}

.storrelse {
    max-width: 175px;
    background-color: rgb(239, 239, 239);
    color: rgb(0, 0, 0);
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}

.vogn {
    flex: 1;
    max-width: 240px;
    background-color: #000;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 0;
    border-radius: 5px;
}

.hjerte {
    margin-top: 10px;
    padding: 12px;
    background-color: white;
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 5px;
}

.hjerte i {
    color: #000;
}

.plinje {
    display: flex;
    flex-direction: column;
}

.psection {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 10px;
}


.psection img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.psection h1 {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 15px;
    margin-top: 30px;
}

.psection a {
    color: #000;
    font-weight: lighter;
    margin-bottom: 10px;
}

.psection p {
    margin-bottom: 10px;
    font-size: 0.7rem;
    margin-top: 10px;
}

.particle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 40px;
    margin-left: 3px;
}

.scroll2 {
    display: flex;
    text-align: left;
    overflow-x: auto;
    scroll-snap-type: x mandatory; /*AI generert ferdig vscode*/
    width: 100%;
}


.particle img {
    display: flex;
    max-width: 200px;
    height: auto;
    border-radius: 20px;
}

.paside p {
    font-size: 0.7rem;
    margin-bottom: 10px;
    margin-left: 10px;
}

.paside a {
    text-decoration: none;
}

.cikoner i {
    color: #000;
}


.paside h2 {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 30px;
}

.paside article img {
    width: 100%;
    height: auto;
}

.paside article h3 {
    font-size: bold;
    font-size: 1rem;

}

.paside article p {
    color: #000000;
    font-size: 0.7rem;
}

.scroll2 {
    display: flex;
    overflow-x: auto; /*AI*/
    scroll-snap-type: x mandatory; /*AI generert ferdig vscode*/
}



/*CHECKOUT.HTML*/
.checkoutmain {
    display: flex;
    flex-direction: column;
    border: none;
    text-align: left;
    margin: 20px;
}

.checkoutmain h1 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 30px;
}

.product-card {
    display: flex;
    flex-direction: flex-start;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}



.shoppingbag h2 {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 15px;
    margin-top: 30px;
    text-transform: uppercase;
}

.shoppingbag h3 {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}

.tekst {
    display: flex;
    flex-direction: column;
}

.tekst label {
    font-size: 0.7rem;
}

.tekst select, .tekst input {
    padding: 5px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #ececec; 
}

.tekst input {
    border: 1px solid #a8a8a8; 
}


.cikoner {
    display: flex;
    flex-direction: row;
}

.cbutton button {
    background-color: #fff;
    border: none;
    font-size: 1rem;
    margin: 20px;
    cursor: pointer;
}
 
.product-card img {
    width: 100%;
    height: auto;
}

.shoppingbag p {
    font-size: 0.7rem;
    margin-bottom: 15px;
}

.personopplysninger h2 {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-top: 30px;
    text-transform: uppercase;
}

.personopplysninger p {
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.personopplysninger label {
    font-size: 0.6rem;
    font-weight: bold;
}

.personopplysninger form input {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.personopplysninger form button {
    margin-right: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.personopplysninger .reset {
    background-color: #ffffff;
    color: #000;
}


.personopplysninger{
    background-color: #fff;
}

.levering h2 {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-top: 30px;
    text-transform: uppercase;
}

.levering h3 {
    font-size: 0.8rem;
    margin-bottom: 3px;
    text-transform: uppercase;
    font-weight: bold;
}

.levering p {
    font-size: 0.6rem;
    margin-bottom: 10px;
    margin-left: 50px;
    color: #333;
}

.levering form label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 10px;
}

.levering {
    background-color: #fff;
}

.border {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px; 
}

.levering .pborder {
    color: #000;
    font-size: 0.7rem;
    margin-left: 10px;
}

.levering .borderikon {
    display: flex;
    justify-content: flex-end;
}

.levering .borderikon i {
    font-size: 0.8rem;
    margin-left: 5px;
}

.betaling h2 {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-top: 30px;
    text-transform: uppercase;
}

.upper {
    font-size: 0.8rem;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.betaling label {
    font-size: 0.7rem;
}

.betaling form input {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.divbetaling button {
    padding: 10px 20px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
}


.betaling form p {
    font-size: 0.8rem;
    margin-top: 10px;
    font-weight: normal;
    margin-bottom: 15px;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox input[type="checkbox"] { /*AI*/
    margin-right: 10px;
    width: 16px;
    height: 16px;
    margin-top: 16px;
}

.checkbox label {
    font-size: 0.7rem;
    cursor: pointer;
}

.psection .litebilder img {
    max-width: 160px;
    width: 100%;
    height: auto;
}



.asideflex {
    display: flex;
    flex-direction: row;
}

.particle img {
    min-width: 200px;
}


/*DESKTOP*/
@media only screen and (min-width: 600px) {

    /*GJELDER ALLE SIDER*/
    body {
        max-width: 1200px;
        margin: 0 auto;
    }

    .header {
        flex-wrap: wrap;
        max-width: 1200px;
        margin-top: 20px;
        display: flex;
        white-space: nowrap;
    }

    ul {
        list-style: none;
    }

    .search input {
        margin-left: 3px;
        padding: 10px;
        border-right: none;
        border-radius: 8px 0 0 8px;
        max-width: 200px;
        width: 100%;
        min-width: 100px;
    }

    .search button {
        padding: 10px;
        border-left: none;
        border-radius: 0 8px 8px 0;
        background-color: #fff;
    }

    .nav-ikoner {
        gap: 20px;
        align-items: center;
    }

    .nav-liste ul {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        flex: 2;
    }

    .search {
        display: flex;
        flex: 1;
        max-width: 30%;
        align-items: center;
    }

    .banner {
        grid-column: 1 / -1;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 20px;
        padding: 20px;
    }

    .footerlogo {
        grid-column: 1/-1;
        text-align: left;
        margin-bottom: 20px;
        font-size: 1.5rem;
    }

    .footerlogo p {
        font-size: 0.7rem;
    }

    #kontakt-info {
        grid-column: 1;
        white-space: nowrap; /*AI hvordan få kontaktinformasjonen til å ikke bryte teksten?*/
    }

    .snarveier {
        grid-column: 3;
    }

    .some {
        grid-column: 4;
        text-align: center;
    }

    .footerikoner {
        display: flex;
        justify-content: center;
        gap: 40px;
        margin: 30px;
    }

    .footerikoner i { /*AI hvordan få ikonene større?*/
        font-size: 1rem;
    }

    .nav-ikoner a:hover {
        transform: scale(1.2);
    }

    button:hover {
        background-color: #afafaf;
    }

    a:hover {
        color: #afafaf;
        text-decoration: underline;
    }

    .knapp button:hover {
        background-color: #f0f0f0;
    }

    .produkter img:hover {
        transform: scale(1.02);
    }

    .particle img:hover {
        transform: scale(1.02);
    }

    .divbetaling button:hover {
        background-color: #d2d2d2;
    }

    .personopplysninger form button:hover {
        background-color: #d8d8d8;
    }

    .brodsmule a:hover {
        text-decoration: underline;
    }

    /*INDEX.HTML*/
    .banner, .banner button {
        border-radius: 30px;
    }

    #popprodukter {
        grid-column: 1 / -1;
        align-items: center;
    }

    .knapp {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .produkter {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Dynamisk grid AI*/
    }

    .produkter article img {
        border-radius: 30px;
    }

    #kategorier {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        align-items: stretch;
        max-width: 1200px;
        gap: 0;
    }

    .k-kort1, .k-kort2, .k-kort3, .k-kort4, .k-kort5 {
        position: relative;
        background-color: rgb(255, 255, 255);
        padding: 0%;
        margin: 10px;
    }

    .k-kort1 img, .k-kort2 img, .k-kort3 img, .k-kort4 img, .k-kort5 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 30px;
    }

    .k-kort1 h3, .k-kort2 h3, .k-kort3 h3, .k-kort4 h3, .k-kort5 h3 {
        position: absolute;
        color: white;
        text-transform: uppercase;
    }

    .k-kort1 {
        grid-column: 1;
        grid-row: 3;
    }

    .k-kort2 {
        grid-column: 2;
        grid-row: 3;
    }

    .k-kort3 {
        grid-column: 3;
        grid-row: 3 / span 2;
    }

    .k-kort4 {
        grid-column: 1 / span 2; /*AI*/
        grid-row: 4 / span 2;
    }

    .k-kort5 {
        grid-column: 3;
        grid-row: 5;
    }

    .over {
        margin-top: 20px;
        grid-column: 1 / -1;
        grid-row: 1;
    }

    .under {
        grid-column: 1 / -1;
        grid-row: 2;
    }

    .anmeldelser h2 {
        grid-column: 1 / -1;
    }

    .anmeldelser {
        display: grid;
        grid-template-columns: 1fr; /* Dynamisk grid */ /*AI hvordan få anmeldelsene til å ikke bryte teksten?*/
    }

    .anmeldelser article {
        border-radius: 20px;
        margin-bottom: 40px;
        margin-left: 20px;
    }

    .anmeldelser img {
        min-width: 200px;
        margin: 10px;
    }

    /*PRODUCT.HTML*/
    .psection {
        display: grid;
        grid-template-columns: 500px 1fr;
        grid-template-rows: auto;
        max-width: 1200px;
    }

    .psection img {
        width: 100%;
        height: auto;
    }

    .psection .stortbilde {
        display: flex;
        grid-column: 1;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .psection .litebilder {
        grid-column: 1;
        grid-row: 2;
    }

    .psection .litebilder img {
        flex-direction: column;
        max-width: 160px;
        width: 100%;
        height: auto;
    }

    .pinfo, .pa, .vogn, .hjerte, .storrelse {
        grid-column: 2/3;
        margin-left: 20px;
        margin-right: 20px;
    }

    .flex {
        display: flex;
        flex-direction: row;
    }

    .storrelse {
        padding-right: 285px;
    }

    .vogn {
        margin-right: 0;
    }

    .asideflex {
        display: flex;
        flex-direction: row;
    }

    .particle img {
        min-width: 200px;
    }

    /*CHECKOUT.HTML*/
    .checkoutmain {
        display: grid;
    }

    .shoppingbag {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .product-card {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        max-width: 1200px;
    }

    .personopplysninger {
        border: solid 1px #dadada;
        padding: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .personopplysninger form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .fornavn, .poststed {
        grid-column: 1;
        margin-right: 10px;
    }

    .poststed {
        grid-row: 3;
    }

    .etternavn, .postnr {
        grid-column: 2;
    }

    .adresse {
        grid-column: 1 / -1;
    }

    .cpp {
        grid-column: 1 / -1;
    }

    .epost {
        grid-column: 1 / -1;
        margin-right: 10px;
        grid-row: 6;
    }

    .telefon {
        grid-column: 1 / -1;
        grid-row: 7;
    }

    .submit {
        grid-column: 1 / -1;
        grid-row: 8;
    }

    .reset {
        grid-column: 1 / -1;
        grid-row: 9;
    }

    .personopplysninger label {
        font-size: 0.6rem;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .personopplysninger form button {
        margin: 0;
    }

    .levering {
        border: solid 1px #dadada;
        padding: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .kortinfo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 10px;
    }

    .kortnr {
        grid-column: 1/-1;
    }

    .utlopsdato {
        grid-column: 1;
    }

    .cvc {
        grid-column: 2;
    }

    /*ER HER NÅ*/

    .betaling {
        border: solid 1px #dadada;
        padding: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .betaling form button {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        padding: 15px;
    }

    .divbetaling {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .divbetaling .chp {
        font-weight: bold;
        font-size: 1rem;
    }

    .tekst label {
        font-size: 0.7rem;
    }
}

/*TABLET*/
@media only screen and (max-width: 1000px) and (min-width: 600px) {
    #kategorier {
        grid-template-columns: 1fr 1fr; /* 2 kolonner for smartbrett */
        grid-template-rows: auto;
    }

    .k-kort1 {
        grid-column: 1;
        grid-row: 3;
    }

    .k-kort2 {
        grid-column: 2;
        grid-row: 3;
    }

    .k-kort3 {
        grid-column: 1 / -1;
        grid-row: 4;
    }

    .k-kort4 {
        grid-column: 1;
        grid-row: 5;
    }

    .k-kort5 {
        grid-column: 2;
        grid-row: 5;
    }

    .over {
        grid-column: 1 / -1;
        grid-row: 1;
    }

    .under {
        grid-column: 1 / -1;
        grid-row: 2;
    }
}
