html {
    font-size: calc(1em + 1vw);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #fff;
}

#grid-container {
    /* No styles defined */
}

header {
    background-color: #fff;
}


.search {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    color: black;
    cursor: text;
    margin-left: 10px;
}

.search input {
    margin-left: 3px;
    flex: 0.3;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 5px 0 0 5px;
    cursor: text;
}

.search button {
    padding: 8px;
    border: 1px solid #000000;
    background-color: #e6e6e6;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    margin-left: 0;
}



header nav ul a {
    text-decoration: none;
    color: black;
}

.logo {
    font-size: 2em;
    font-weight: bold;
}

.nav-liste ul li {
    font-size: 0.8em;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
    list-style: none;
    margin: 5px;
    padding-left: 10px;
}

.indexmain {
    margin-bottom: 30px;
}

.banner {
    background-color: #e0e0e0;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 2rem 2rem;
    margin: 10px;
}

.banner button {
    background-color: #fff;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    padding: 20px;
    cursor: pointer;
}

.banner button a {
    text-decoration: none;
    color: black;
    padding: 20px;
}

.banner h1 {
    padding-bottom: 10px;
}

.banner p {
    padding-bottom: 20px;
}

button:hover {
    background-color: #f0f0f0;
}

a:hover {
    color: #f0f0f0;
}

.hidden {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

/*index.html*/

#popprodukter {
    display: flex;
    flex-direction: column;
    margin: 40px 10px;
}

#popprodukter h2 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1em;
}

#popprodukter p {
    font-size: 0.7em;
}

.knapp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.knapp button {
    background-color: #fff;
    color: black;
    border: 1px solid #d3c6c6;
    cursor: pointer;
    border-radius: 40px;
    padding: 0.4rem 0.9rem;
    font-size: 0.7em;
    text-align: center;
}

.knapp button:hover {
    background-color: #f0f0f0;
}



.produkter article img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.produkter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 20px;
    border: none;
    padding: 20px 10px;
}

.produkter article a {
    text-decoration: none;
    color: black;
}

.produkter img:hover {
    transform: scale(1.02);
}

.particle img:hover {
    transform: scale(1.02);
}

.produkter h3 {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 10px;
    margin-top: 10px;
}

.produkter p {
    font-size: 0.8em;
    margin-bottom: 10px;
}

#kategorier {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
}

#kategorier h2, #kategorier p {
    text-align: left;
    margin-left: 10px;
}

#kategorier h2 {
    font-weight: bold;
    font-size: 1em;
}

#kategorier p {
    font-size: 0.7em;
    margin-bottom: 20px;
}

#kategorier h3 {
    text-align: center;
    padding: 10px;
}

.k-kort1, .k-kort2, .k-kort3, .k-kort4, .k-kort5 {
    border: 0.5px solid #000000;
    font-weight: bold;
    font-size: 0.7em;
    padding: 120px 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.anmeldelser {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.anmeldelser h2 {
    margin-bottom: 10px;
    margin-top: 60px;
    font-weight: bold;
    text-align: left;
    font-size: 1.2em;
    margin-left: 10px;
}

.anmeldelser h3 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1em;
    text-align: left;
}

.anmeldelser p {
    margin-bottom: 1em;
    text-align: left;
    font-size: 0.7em;
}

.anmeldelser img {
    max-width: 150px;
    max-height: 150px;
    align-items: left;
}

.anmeldelser article {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
}



footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-top: 1px solid #ccc;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;
}

.footerlogo {
    margin-top: 30px;
    font-weight: bold;
    font-size: 1.5em;
}

footer section {
    margin-bottom: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer h3 {
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9em;
}

footer p {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 0.5em;
    font-weight: normal;
}

footer a {
    text-decoration: none;
    color: black;
}

footer ul li {
    margin-bottom: 10px;
    font-size: 0.7em;
}

/*produkt.html*/

.brødsmule {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    list-style: none;
    font-size: 0.9em;
}

.brødsmule li {
    color: #333;
}

.brødsmule a {
    text-decoration: none;
    color: #333;
}

.brødsmule a:hover {
    text-decoration: underline;
}

.brødsmule li + li::before {
    content: ">";
    color: #343434;
    margin: 0 0.5em;
}

.nav-product, ol {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.7em; 
    list-style: none;
    margin: 5px;
}

.nav-product:hover {
    background-color: #f0f0f0;
}

.pnavn {
    font-weight: bold;
}

.pa {
    text-transform: uppercase;
}

.psection {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 10px;
}

.psection img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.psection h1 {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 15px;
    margin-top: 30px;
}

.psection a {
    text-decoration: line-break;
    color: #000;
    font-weight: lighter;
    margin-bottom: 10px;
}

.psection p {
    margin-bottom: 10px;
    font-size: 0.7em;
}

aside {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.particle {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px;
    margin: 20px;
    margin-left: 3px;
    width: 100%;
}

.particle img {
    width: 100%;
    height: auto;
}

article a{
    text-decoration: none;
    color: #000;
}

aside h2 {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-top: 30px;
}

aside article img {
    width: 100%;
    height: auto;
}

aside article h3 {
    font-size: bold;
    font-size: 1em;

}

aside article p {
    color: #000000;
    font-size: 0.7em;
}

.productmain {
    margin-bottom: 30px;
}

.checkoutmain {
    display: flex;
    flex-direction: column;
    border: none;
    text-align: left;
    margin: 20px;
    align-items: left;
    align-content: left;
}

.checkoutmain h1 {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 30px;
}

.shoppingbag h2 {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 15px;
    margin-top: 30px;
    text-transform: uppercase;
}

.product-card {
    width: 100%;
    display: flex;
    flex-direction: column;
}
 
.product-card img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.product-card h3 {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}

.product-card p {
    font-size: 0.7em;
    margin-bottom: 5px;
}

.personopplysninger h2 {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 20px;
    margin-top: 30px;
    text-transform: uppercase;
}

.personopplysninger p {
    font-size: 0.7em;
    margin-bottom: 3px;
}

.personopplysninger form input {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.personopplysninger form button {
    margin-right: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.personopplysninger form button[type="reset"] {
    background-color: #f0f0f0;
    color: #000;
}

.personopplysninger form button:hover {
    background-color: #f0f0f0;
}

.personopplysninger{
    background-color: #fff;
}

.levering h2 {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 20px;
    margin-top: 30px;
    text-transform: uppercase;
}

.levering p {
    font-size: 0.8em;
    margin-bottom: 3px;
    text-transform: uppercase;
    font-weight: bold;
}

.levering form label {
    display: block;
    margin-bottom: 10px;
}

.levering input[type="radio"] {
    margin-right: 10px;
}

.levering form label {
    font-size: 0.7em;
    font-weight: bold;
    padding: 10px;
}

.levering {
    background-color: #fff;
}

.betaling h2 {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 20px;
    margin-top: 30px;
    text-transform: uppercase;
}

.betaling p {
    font-size: 0.8em;
    margin-bottom: 3px;
    text-transform: uppercase;
    font-weight: bold;
}

.betaling label {
    font-size: 0.7em;
}

.betaling form input {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.betaling form button {
    margin-right: 20px;
    margin-bottom: 15px;
    padding: 10px 20px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    margin-top: 5px;
}

.betaling form button:hover {
    background-color: #f0f0f0;
}

.betaling form p {
    font-size: 0.8em;
    margin-top: 10px;
    text-transform: none;
    font-weight: normal;
    margin-bottom: 15px;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox input[type="checkbox"] {
    margin-right: 10px;
    width: 16px;
    height: 16px;
    margin-top: 16px;
}

.checkbox label {
    font-size: 0.7em;
    cursor: pointer;
}

